.highlight-text {
	font-weight: bold;
	color: #4499dd;
}
.text-sky-blue {
	color: #4499dd;
}
.background-sky-blue {
	background: #4499dd;
}
.text-white {
	color: #fff!important;
}
.background-white {
	background: #fff;
}