body {
	font-family: 'Kosugi Maru', sans-serif;
}
.box-shadow-top {
	box-shadow: 20px 10px 40px 50px #fff, 10px -50px 100px #FFF;
}
.box-bottom {
	position: absolute;
	bottom: 0;
}
.box-top {
	position: absolute;
	top: 0;
}
.layer-mask {
    background-color: rgba(53, 53, 49, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 0;
    height: 100%;
    overflow: hidden;
}
.float-right {
	float: right;
}
.lh-15 {
	line-height: 15px;
}
.lh-20 {
	line-height: 20px;
}
.lh-25 {
	line-height: 25px;
}
.lh-30 {
	line-height: 30px;
}