.ef-form-control{
	margin-top: 10px;
	margin-bottom: 10px;
	padding-left: 5em;
}
.ef-form-control label {
	padding-right: 5em;
}
.ef-form-control span{
	background: red;
	color: #fff;
	font-size: 10px;
	font-weight: bold;
	padding: 3px 5px 3px 5px;
	border-radius: 3px;
}
.ef-form-control .form-input {
  width: 80%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 2px;
  box-sizing: border-box;
  background: #fff;
}
.form-input-center {
	width: 35%;
	margin: auto;
}
.form-checkbox {
	display: block;
  position: relative;
  cursor: pointer;
    padding-top: 7px;
    font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
	    padding-left: 40px;
    margin-bottom: 20px;
}
.form-checkbox:hover input ~ .checkmark {
  background-color: #ccc;
}
.form-checkbox input:checked ~ .checkmark {
  background-color: #fff;
}
.form-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
    width: 15px;
  background-color: #eee;
}
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.form-checkbox .checkmark:after {
  left: 6px;
border-radius: 1px solid #ccc;
top: 0px;
width: 10px;
height: 15px;
border: solid #4499dd;
border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.form-checkbox  input:checked ~ .checkmark:after {
  display: block;
}
.button {
  border: none;
  color: white;
  width: 100%;
  padding-bottom: 10px;
  padding-top: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}