/* Main */
#main-top {
  background-image: url('../images/top-bg.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 800px;
  position: relative;
  clear: both;
}

#main-top .mt-content {
  width: 100%;
  margin: auto;
  text-align: center;
  padding-top: 7%;
}

#main-top .mt-content .logo {

}
#main-top .mt-content .mtc-title {
	width: 100%;
	font-weight: bold;
	font-size: 4em;
	color: #333333de;
	padding-top: 3%;
}
#main-top .mt-content .mtc-description {
	width: 30%;
	margin: auto;
	font-size: 1em;
	text-align: center;
	line-height: 30px;
	padding: 2%;
}
.btn-entry {
	background: none;
	border: 1px solid #333;
	border-radius: 5px;
	width: 200px;
height: 40px;
}
/* Campaign */
#campaign {
	width: 100%;
	height: 100%;
	position: relative;
  	clear: both;
}
#campaign .cp-top {
	width: 100%;
	margin: auto;
	text-align: center;
	overflow: hidden;
	padding-bottom: 3em;
}
#campaign .cp-top .ct-title {
	padding: 1em;
	font-size: 35px;
	font-family: 'Tahoma', sans-serif;
	line-height: 25px;
}
#campaign .cp-top > span {
	position: relative;
display: inline-block;
}
#campaign .cp-top > span:before, #campaign .cp-top > span:after{
	content: '';
	position: absolute;
	top: 25%;
	border-bottom: 3px solid;
	width: 130px;
	color: #21a6d5;
	margin: 3px 10px;
}
#campaign .cp-top > span:before{
    right: 100%;
}
#campaign .cp-top > span:after{
    left: 100%;
}

#campaign .cp-top .ct-point{
	margin-top: 10px;
	font-size: 20px;
	font-weight: bold;
}
#campaign .cp-bottom {
	width: 100%;
}
#campaign .cp-bottom .cb-left {
	background-image: url('../images/campaign-left.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

	position: relative;
	float: left;
	width: 50%;
	height: 600px;
}
#campaign .cp-bottom .cb-right {
	background-image: url('../images/campaign-right.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

	position: relative;
	float: left;
	width: 50%;
	height: 600px;
}
#campaign .cp-bottom .cb-content {
	width: 100%;
	margin: auto;
	text-align: center;
	background: #fffbfbb8;
	height: 100px;
	padding: 2em 0;
}

#campaign .cp-bottom .cb-content .cc-title{
	font-size: 2em;
	font-weight: bold;
	line-height: 1em;
}

#campaign .cp-bottom .cb-content .cc-description{
	font-size: 15px;
line-height: 20px;
padding-top: 1em;
}
#campaign .cp-bottom .cb-grid-view {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: #76a2b6;
  width: 100%;
}
#campaign .cp-bottom .cb-grid-view .grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  width: 100%;
  font-size: 15px;
  grid-auto-rows: 1fr;
  text-align: center;
  height: 400px;
}
#campaign .cp-bottom .cb-grid-view .grid-item:nth-child(even) {
  background-color: white;
	text-align: center;
	display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-content: center;
  align-content: center;
  justify-content: center;
}
#campaign .cp-bottom .cb-grid-view .grix-box-title {
  font-size: 20px;
  padding: 1em;
  font-weight: bold;
}
#campaign .cp-bottom .cb-grid-view .grix-box-description {
  line-height: 25px;
}

/* Information */
 
#information {
	width: 100%;
	height: 100%;
	position: relative;
  	clear: both;
}
#information .info-top {
	width: 100%;
	margin: auto;
	text-align: center;
	overflow: hidden;
	padding-bottom: 3em;
}
#information .info-top .info-title {
	padding: 1em;
	font-size: 35px;
	font-family: 'Tahoma', sans-serif;
	line-height: 25px;
}
#information .info-top > span {
	position: relative;
display: inline-block;
}
#information .info-top > span:before, #information .info-top > span:after{
	content: '';
	position: absolute;
	top: 25%;
	border-bottom: 3px solid;
	width: 130px;
	color: #21a6d5;
	margin: 3px 10px;
}
#information .info-top > span:before{
    right: 100%;
}
#information .info-top > span:after{
    left: 100%;
}
#information .info-top .info-point{
	margin-top: 10px;
	font-size: 20px;
	font-weight: bold;
}
#information .info-seminar{
	width: 90%;
	height: 600px;
	margin: auto;
	background-image: url('../images/campaign-left.jpg');
	background-repeat: no-repeat;
  	background-position: center;
  	background-size: cover;
  	color: white;
  	position: relative;
}
#information .info-seminar .is-title{
	font-family: 'Tahoma', sans-serif;
	font-size: 3em;
	padding: 1em;
	font-weight: 500;
	line-height: 2em;
	z-index: 1;
	position: relative;

}
#information .info-seminar ul{
	font-family: 'Tahoma', sans-serif;
	font-size: 15px;
	padding: 3em;
	padding-top: 0;
	line-height: 1em;
	z-index: 1;
	position: relative;
}

#information .info-seminar ul li{
	font-family: 'Tahoma', sans-serif;
	font-size: 15px;
	line-height: 1em;
	z-index: 1;
	padding-bottom: 2em;
	position: relative;
}

#information .info-seminar ul li a{
	text-decoration: none;
	font-size: 20px;
	color: #33aaff;
	padding-bottom: 1em;
	display: inline-block;
}

#information .info-seminar ul li p{
	line-height: 20px;
}

#information .info-company {
	width: 90%;
	height: 100%;
	padding-bottom: 2em;
	margin: auto;
}	
#information .info-company .ic-title{
	font-size: 20px;
	font-weight: bold;
	padding-top: 1em;
	padding-bottom: 1em;
}	
#information .info-company .ic-grid-view {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto;
}
#information .info-company .ic-grid-view .ic-grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid #333;
 	width: 90%;
 	height: 110px;
  font-size: 30px;
  text-align: center;
}

#information .info-company .ic-grid-view .ic-grid-item .ic-grid-logo {
  position: relative;
}
#information .info-company .ic-grid-view .ic-grid-item .ic-grid-logo img{
  position: absolute;
margin: auto;
width: 90%;
height: 60px;
top: 10px;
left: 5px;
clear: both;
}
#information .info-company .ic-grid-view .ic-grid-item .ic-grid-logo span{
  position: absolute;
  bottom: -110px;
  left: 0;
  width: 100%;
  margin: auto;
  height: 20px;
  font-size: 15px;
  background: black;
  color: #fff;
  line-height: 20px;
  text-align: center;
}
/* Information */
#entry-form {
	width: 100%;
	height: 350px;
	position: relative;
  	clear: both;
}
#entry-form .ef-top {
	width: 100%;
	margin: auto;
	text-align: center;
	overflow: hidden;
	padding-bottom: 3em;
}
#entry-form .ef-top .ef-title {
	padding: 1em;
	font-size: 35px;
	font-family: 'Tahoma', sans-serif;
	line-height: 25px;
}
#entry-form .ef-top > span {
	position: relative;
display: inline-block;
}
#entry-form .ef-top > span:before, #entry-form .ef-top > span:after{
	content: '';
	position: absolute;
	top: 25%;
	border-bottom: 3px solid;
	width: 130px;
	color: #21a6d5;
	margin: 3px 10px;
}
#entry-form .ef-top > span:before{
    right: 100%;
}
#entry-form .ef-top > span:after{
    left: 100%;
}
#entry-form .ef-top .ef-point{
	margin-top: 10px;
	font-size: 20px;
	font-weight: bold;
}
#entry-form .ef-form{
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	top: 250px;
	left: 0;
	right: 0;
	width: 90%;
	height: auto;
	background: #f6f7fb;
	border-radius: 5px;
	margin-bottom: 1em;
	z-index: 99;
	padding-top: 50px;
	padding-bottom: 50px;
}
#entry-form .ef-form .ef-form-title{
	padding-left: 5em;
	padding-bottom: 2em;
}

#footer{
	width: 100%;
	height: 600px;
	top: 250px;
	background: #4499dd;
	margin: auto;
	position: relative;
	padding-bottom: 4em;
	bottom: 0;
}

#footer .footer-free-height{
	height: 530px;
	margin-top: 1em;
}
#footer .footer-on-top{
	width: 90%;
    overflow: hidden;
    margin: auto;
    padding-bottom: 1em;
    margin-bottom: 10px;
    border-bottom: 1px solid #33aaff8f;
    font-size: 14px;
}
#footer .footer-on-top .footer-left{
	float: left;
	width: 50%;
}
#footer .footer-on-top .footer-right{
	float: left;
	width: 50%;
}
#footer .footer-copyright{
	width: 90%;
	margin: auto;
}

.menu {
	display: inline-flex;
	display: -webkit-flex;
}
.menu li a{
	color: #fff;
	text-decoration: none;
}
